body {
    padding: 0;
    margin: 0;
    background: #000;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.container canvas {
    display: block;
}

.floatText {
    z-index: 999999;
    font-size: 0.8rem;
    color: red;
}